* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-container {
    position: relative;
}

.video {
    width: 1024px;
    height: 600px;
}

/* .video-container:hover {
    opacity: 0.5;
} */

.buttons-container {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    opacity: 0;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.buttons-container:hover {
    opacity: 0.65;
}

.play {
    background-image: url("./images/play-button.svg");
    width: 64px;
    height: 64px;
}

.pause {
    background-image: url("./images/pause-button.svg");
    width: 64px;
    height: 64px;
}

.next {
    background-image: url("./images/forward-button.svg");
    width: 64px;
    height: 64px;
}

.prev {
    background-image: url("./images/backward-button.svg");
    width: 64px;
    height: 64px;
}